# .gitignore at top level

*.so
*.o
*.a
*.la
~*

codebase/apps/Radx/src/Dsr2Radx/Dsr2Radx
codebase/apps/Radx/src/FixCfradialPaths/FixCfradialPaths
codebase/apps/Radx/src/FixRadxPointing/FixRadxPointing
codebase/apps/Radx/src/Radx2Dsr/Radx2Dsr
codebase/apps/Radx/src/Radx2Grid/Radx2Grid
codebase/apps/Radx/src/RadxCheck/RadxCheck
codebase/apps/Radx/src/RadxClutMon/RadxClutMon
codebase/apps/Radx/src/RadxConvert/RadxConvert
codebase/apps/Radx/src/RadxCov2Mom/RadxCov2Mom
codebase/apps/Radx/src/RadxDiff/RadxDiff
codebase/apps/Radx/src/RadxDwellCombine/RadxDwellCombine
codebase/apps/Radx/src/RadxEvad/RadxEvad
codebase/apps/Radx/src/RadxFilter/RadxFilter
codebase/apps/Radx/src/RadxMergeFields/RadxMergeFields
codebase/apps/Radx/src/RadxMon/RadxMon
codebase/apps/Radx/src/RadxPartRain/RadxPartRain
codebase/apps/Radx/src/RadxPrint/RadxPrint
codebase/apps/Radx/src/RadxQpe/RadxQpe
codebase/apps/Radx/src/RadxSunMon/RadxSunMon
codebase/apps/tdrp/src/tdrp_gen/tdrp_gen


