cmake_minimum_required(VERSION 2.8)

project(kd)

INSTALL(FILES 
	kd.hh
	datatype.hh
	fileoper.hh
	kd_interp.hh
	kd_query.hh
	metric.hh
	naive.hh
	tokenize.hh
        DESTINATION $ENV{GTG_INC_DIR}/kd
)
