cmake_minimum_required(VERSION 2.8)

project(euclid)

INSTALL(FILES 
	alloc.h
        boundary.h
        clump.h
        copyright.h
        distance.h
        euclid_macros.h
        geometry.h
        link.h
        node.h
        point.h
        scan.h
        search.h
        DPbasic.hh
        DESTINATION $ENV{GTG_INC_DIR}/euclid
)
